html {
  font-size: 70%;
}

body {
  font-size: 1.6rem;
  line-height: 1.8em;
  font-family: 'Caudex'; 
  color: #EADCD2;
  background-color: #212026;
  text-align: justify;
}

sc {
  font-family: 'Vollkorn SC'
}

.hiddenifbig {
    display: none;
}

.block { 
  border-left: 4px solid #eadcd2;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.048);
}

.remark { 
  margin-left: 20px;
  border-left: 4px solid #eadcd2;
  padding-left: 10px;
  padding-right: 10px;
}

.theorem { 
  border-left: 4px solid #eadcd2;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.048);
}

.proof { 
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 10px;
}

.example {
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #eadcd2;
}

.clear { 
  clear: both; 
  height: 60px; 
}

.teaser {
  font-style: italic;
}

a:link {
  color: #EADCD2;
}

a:visited {
  color: #b6aaa0;
}

a:hover { 
  color: #fff;
}

.title {
  text-align: center;
  font-family: 'Vollkorn SC';
  font-size: 4rem;
  line-height: 1em;
  margin-right: 10pt;
  margin-bottom: 0pt;
  margin-top: 20pt;
}

.smalltitle {
  text-align: left;
  float: left;
  font-family: 'Vollkorn SC';
  font-size: 2.7rem;
  margin-right: 15pt;
  margin-bottom: -20pt;
  margin-top: 10pt;
}

.lastmodified {
  font-size: 1.5rem;
  font-family: 'Vollkorn';
  font-style: italic;
  text-align: left;
  color: #eadcd23d;
}

.lastmodified a:link {
  color: #eadcd23d;
  text-decoration: none;
  
}
.lastmodified a:hover {
  color: #eadcd28a;
  text-decoration: none;
}
.lastmodified a:visited {
  color: #eadcd23d;
  text-decoration: none;
}
footer {
  height: 50px;
  background-color: #141316;
}

.hakyll {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #2c2b31;
}

.hakyll a:link {
  color: #575561;
  text-decoration: none;
}

.hakyll a:hover {
  color: #EADCD2;
  text-decoration: none;
}

.hakyll a:visited {
  color: #575561;
  text-decoration: none;
}

.catbusfooter {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #2c2b31;
}

.catbusfooter a:link {
  color: #575561;
  text-decoration: none;
}

.catbusfooter a:hover {
  color: #EADCD2;
  text-decoration: none;
}

.catbusfooter a:visited {
  color: #575561;
  text-decoration: none;
}

.busStop { 
  position: absolute;
  right: 0px; 
  width: 45%;
  max-width: 300px;
}
.eyes { 
  position: absolute;
  right: 0px; 
  left: 0px; 
  width: 35%;
  max-width: 250px;
}
.light { 
  position: absolute;
  opacity: 0;
  z-index: -1;
  left: 0px; 
  width: 35%;
  max-width: 250px;
}
.homebox:hover .light {
  opacity: 20%;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

/* Dropdown Button */
.dropbtn {
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top: -5px;
  margin-left: -5px;
  display: none;
  position: absolute;
  background-color: #212026;
  min-width: 300px;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.9);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  white-space: nowrap;
  color: #eadcd2;
  text-decoration: none;
  display: block;
  font-size: 2rem;
  padding-left: 5%;
  padding-right: 5%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #101010;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: #fff;}

@media (max-width: 600px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  footer {
    position: relative;
    width: 111.11%;
    top: 150px;
    left: -5.55%;
  }
  .busStop { 
    bottom: 45px; 
  }
  .eyes { 
    bottom: 50px; 
  }
  .light { 
    left: 0px; 
    bottom: 50px; 
  }
  .smalltitle {
      font-size: 2.3rem;
  }
  .hiddenifbig {
      display: block;
  }
}

@media (min-width: 601px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
  }
  .busStop { 
    bottom: 45px; 
  }
  .eyes { 
    bottom: 40px; 
  }
  .light { 
    bottom: 40px; 
  }
}

@media (max-height: 500pt) {
  footer {
    position: relative;
    width: 111.11%;
    top: 150px;
    left: -5.55%;
  }
  .busStop { 
    bottom: 45px; 
  }
  .eyes { 
    bottom: 50px; 
  }
  .light { 
    left: 0px; 
    bottom: 50px; 
  }
}

.tikzpicture {
  height: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}
