<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Catbus: $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link href='https://fonts.googleapis.com/css?family=Vollkorn SC' rel='stylesheet'> 
        <link href='https://fonts.googleapis.com/css?family=Castoro' rel='stylesheet'>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>

    <body>
        <main role="main">
            <div class="title">
                <div id="heading">
                    $title$
                </div>
                $if(date)$
                $else$
                    <p class="lastmodified", id="last">
                    Last modified on:
                    </p>

                <div class="clear" style="height: 10px;"></div>

                   <script language="Javascript">
                      lastMod = document.getElementById("last");
                      date = new Date(document.lastModified)
                      lastMod.innerText = "Last updated on " + date.toDateString() + ".";
                   </script>
                $endif$
            </div>
            $body$
        </main>

        <div class="clear"></div>
        $partial("templates/footer.html")$
    </body>
</html>
