<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Catbus: $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link href='https://fonts.googleapis.com/css?family=Vollkorn SC' rel='stylesheet'> 
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
    </head>
    <body>
        <main role="main">
            <div class="title" style="float: left; margin-top: -2.2rem;">
                <a href="$url$" style="text-decoration: none; font-size: 2.5rem; color: #EADCD2;"> 
                    $title$ 
                </a>
                $if(date)$
                <p class="lastmodified">
                    $date$
                </p>
                $endif$
            </div>
            $body$
        </main>
        <div class="clear" style="height: 20px"></div>
        <footer> 
            <img src="/images/BusStop.png" class="busStop"> 
            <a href="/index.html">
                <div class="homebox">
                    <img src="/images/Logo.png" class="eyes"> 
                    <img src="/images/Lights.png" class="light"> 
                </div>
            </a>
            <div class="hakyll">
                Powered by <a href="https://jaspervdj.be/hakyll/">hakyll</a>.
            </div>
            <div class="catbusfooter">
                <a href="./index.html">Catbus /</a> $title$
            </div>
       </footer>
    </body>
</html>