<footer> 
     <img src="/images/footer-busstop.png" class="busStop"> 
     <a href="/index.html">
         <div class="homebox">
             <img src="/images/footer-logo.png" class="eyes"> 

             <img src="/images/footer-lights.png" class="light"> 
         </div>
     </a>
     <div class="hakyll">
         Powered by <a href="https://jaspervdj.be/hakyll/">hakyll</a>.
     </div>
     <div class="catbusfooter">
         <a href="/index.html">Catbus</a> / $title$
     </div>
</footer>
