All the things I have something to say about, but not enough to write an article. These range from equivalents of margin-scribbles to revision notes, small tricks I have picked here and there, and some original thoughts.

<div id="taglist" class="dropdown"> $allTags$ </div>

<script>
    tags = document.getElementById("taglist");
    var taglist = tags.innerHTML.split(',');
    heading = document.getElementById("heading");
    html=heading.innerText;
    html="Gists / <div class=\"dropdown\"> <div class=\"dropbtn\">" + html.substring(7) +"<\div> <div class=\"dropdown-content\"> <a href=\"/gists.html\">all</a>";
    taglist.forEach(function(x) {
        x = x.replace(/ \(\d*\)/,"");
        console.log(x);
        html+=x; 
    });
    html+="<\div> <\div>";
    heading.innerHTML=html;
    tags.innerHTML="";
</script>

<div class="clear" style="height: 20px;"></div>
<hr>
$for(posts)$
<div class="smalltitle">
$title$ 
<p class="lastmodified" style="margin-top: -3pt;">
$date$ ($tags$)
</p>
</div>
$teaser$
<hr>
$endfor$