<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Catbus: What is Parth Up To?</title>
        <link rel="stylesheet" href="/css/home.css"/>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn SC' rel='stylesheet'> 
        <link href='https://fonts.googleapis.com/css?family=Caudex' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/8ac6d30ce3.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <main role="main">
            $body$
        </main>

        $partial("templates/footer.html")$
    </body>
</html>
