<head>
    <style>
        .teaser {
            font-style: normal;
        }
    </style>
</head>

<i>Over time, I have found that I learn best by explaining-- partly why this blog exists. These articles are on things I have tried to learn properly at some point, through coursework or otherwise. The articles present the subject in a form that made most sense to me, and are not guaranteed to be accurate representations of the topic. Importantly, I ask why any particular objects are natural things to think about, so contrary to a typical mathematical text, often the focus is on definitions rather than results. Nonetheless, there should be enough content in each article to start you off on a reading quest of your own.</i>
<div id="taglist" class="dropdown"> $allTags$ </div>

<script>
    tags = document.getElementById("taglist");
    var taglist = tags.innerHTML.split(',');
    heading = document.getElementById("heading");
    html=heading.innerText;
    html="Posts / <div class=\"dropdown\"> <div class=\"dropbtn\">" + html.substring(7) +"<\div> <div class=\"dropdown-content\"> <a href=\"/posts.html\">all</a>";
    taglist.forEach(function(x) {
        x = x.replace(/ \(\d*\)/,"");
        console.log(x);
        html+=x; 
    });
    html+="<\div> <\div>";
    heading.innerHTML=html;
    tags.innerHTML="";
</script>

<div class="clear" style="height: 20px;"></div>
<hr>
$for(posts)$
<div class="smalltitle">
$title$ 
<p class="lastmodified" style="margin-top: -3pt;">
$date$ ($tags$)
</p>
</div>
<div class="hiddenifbig" style="width: 100%; height: 40px"> </div>
$teaser$
<div class="lastmodified" style="display: flex;">
    <a href="$url$">read more...</a>
</div>
<hr>
$endfor$
