<head>
    <style>
        .teaser {
            font-style: normal;
        }
    </style>
</head>

<i>This is my semi active blog, each article is a by-product of me attempting to understand some mathematics. Most articles, hence, are just rehashes of existing literature and most original contributions are either through mistakes which I apologise for in advance, or through non-traditional reordering of topics to suit my taste. It can however provide a starting point to some of the content, or an alternate perspective if you're already familiar with the material.</i>
<div id="taglist" class="dropdown"> $allTags$ </div>

<script>
    tags = document.getElementById("taglist");
    var taglist = tags.innerHTML.split(',');
    heading = document.getElementById("heading");
    html=heading.innerText;
    html="Posts / <div class=\"dropdown\"> <div class=\"dropbtn\">" + html.substring(7) +"<\div> <div class=\"dropdown-content\"> <a href=\"/posts.html\">all</a>";
    taglist.forEach(function(x) {
        x = x.replace(/ \(\d*\)/,"");
        console.log(x);
        html+=x; 
    });
    html+="<\div> <\div>";
    heading.innerHTML=html;
    tags.innerHTML="";
</script>

<div class="clear" style="height: 20px;"></div>
<hr>
$for(posts)$
<div class="smalltitle">
$title$ 
<p class="lastmodified" style="margin-top: -3pt;">
$date$ ($tags$)
</p>
</div>
<div class="hiddenifbig" style="width: 100%; height: 40px"> </div>
$teaser$
<div class="lastmodified" style="display: flex;">
    <a href="$url$">read more...</a>
</div>
<hr>
$endfor$
